section.about {

  & header {
    text-align: center;
  }

  & header span {
    font: 500 var(--text-sm)/1.5 var(--ff-base);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  & img {
    width: 50%;
    border-radius: 2.5rem;
    object-fit: cover;
    
  }

  & .content {
    margin-top: 2rem;
    display: flex;
    gap: 2.5rem;

    animation: image-appear linear backwards;
    animation-timeline: view();
    animation-range: 100px 350px;

    &[data-delay] {
      animation-range: 150px 350px;
    }

    transition: scale 500ms;

  }

  & .content p {
    font: 500 var(--text-sm)/1.5 var(--ff-base);
    text-align: justify;
  }

}


@keyframes image-appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}