section.contact {
    width: 100%;
    max-width: 80rem;
    padding: 2.5rem 2rem;
    margin-inline: auto;

    & header {
        text-align: center;
    }

    & header span {
        font: 500 var(--text-sm)/1.5 var(--ff-base);
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    & form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;

        animation: image-appear linear backwards;
        animation-timeline: view();
        animation-range: 100px 350px;

        &[data-delay] {
            animation-range: 150px 350px;
        }

        transition: scale 500ms;
    }

    & label,
    & input,
    & textarea
    & button {
        display: block;
        width: 100%;
    }

    & label {
        line-height: 1;
        margin-bottom: .5rem;
    }

    & input,
    & textarea {
        font: inherit;
        padding: 0.8rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 8px;
        transition: border-color, box-shadow 0.2s;
    }

    & textarea {
        min-height: 13rem;
        resize: vertical;
    }

    & input:hover,
    & textarea:focus {
        outline: none;
        border-color: var(--brand-color);
        box-shadow: 0 0 0 3px var(--brand-color);
    }

    & button {
        border-radius: 5rem;
        padding: 1.5rem 3rem;
        background-color: var(--brand-color);
        color: white;
        transition: scale 350ms;

        &:hover {
            scale: 1.1;
        }
    }

    @keyframes image-appear {
        from {
            opacity: 0;
            transform: translateY(100%);
        }
    }

}