section.contact {
    width: 100%;
    max-width: 80rem;
    padding: 2.5rem 2rem;
    margin-inline: auto;

    & header {
        text-align: center;
    }

    & header span {
        font: 500 var(--text-sm)/1.5 var(--ff-base);
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    & form {
        max-width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
        margin-inline: auto;

        animation: image-appear linear backwards;
        animation-timeline: view();
        animation-range: 100px 350px;

        &[data-delay] {
            animation-range: 150px 350px;
        }

        transition: scale 500ms;
    }

    & label,
    & input,
    & textarea {
        display: block;
        width: 100%;
    }

    & label {
        line-height: 1;
        margin-bottom: .5rem;
        color: #E1E1E6;
    }

    & input,
    & textarea {
        font: 500 var(--text-sm)/1.5 var(--ff-base);
        color: #E1E1E6;
        padding: 0.8rem;
        margin-bottom: 2rem;
        border: 1px solid transparent;
        border-radius: 8px;
        transition: border-color 0.3s, box-shadow 0.3s;
        background-color: #202024;
    }

    & textarea {
        min-height: 13rem;
        resize: vertical;
    }

    & input:hover,
    & input:focus,
    & textarea:hover,
    & textarea:focus {
        outline: none;
        border-color: var(--brand-color);
        -webkit-box-shadow: 0px 0px 26px 0px var(--brand-color);
        -moz-box-shadow: 0px 0px 26px 0px var(--brand-color);
        box-shadow: 0px 0px 26px 0px var(--brand-color);
    }

    & button {
        margin-top: 2rem;
        border-radius: 5rem;
        padding: 1.5rem 3rem;
        background-color: var(--brand-color);
        color: white;
        border: none;
        cursor: pointer;
        align-self: flex-end;
        transition: scale 0.3s, box-shadow 0.3s;

        &:hover {
            scale: 1.1;
            -webkit-box-shadow: 0px 0px 26px 0px var(--brand-color);
            -moz-box-shadow: 0px 0px 26px 0px var(--brand-color);
            box-shadow: 0px 0px 26px 0px var(--brand-color);
        }

        &:disabled {
            cursor: not-allowed;
            background: #555b69;
        }
    }

    @keyframes image-appear {
        from {
            opacity: 0;
            transform: translateY(100%);
        }
    }

}