header.top {
  --header-height: 3rem;
  height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 1rem;
  }

  a {
    position: relative;
  }

  & nav {
    align-items: center;
    gap: 2rem;

    & a {
      transition: color 350ms;

      &:hover {
        color: var(--brand-color);
      }
    }

  }
}


/* Base: mobile (até 480px) */

/* Laptops */
@media (min-width: 1024px) {
  header.top {
    --header-height: 5rem;
    
    img {
      height: 1.5rem;
    }
  }
}