section.hero {
  --header-height: 3rem;
  height: calc(100vh - var(--header-height, 3rem));

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  text-align: center;

  & p {
    font: 500 var(--text-sm)/1.5 var(--ff-base);
    text-transform: uppercase;
  }


  & h1 div {
    display: inline-block;
    overflow: hidden;
    height: 3rem;
    width: min-content;
    vertical-align: bottom;
  }

  & h1 span {
    display: block;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    animation: slideUp 5s 2s infinite ease;
  }

  & .buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    & .button {
      display: flex;
      align-items: center;
      gap: .75rem;

      border-radius: 5rem;

      transition: scale 0.3s;

      &.whats {
        padding: 0.5rem 1rem;
        background-color: var(--brand-color);

        &:hover {
          -webkit-box-shadow: 0px 0px 26px 0px var(--brand-color);
          -moz-box-shadow: 0px 0px 26px 0px var(--brand-color);
          box-shadow: 0px 0px 26px 0px var(--brand-color);
        }
      }

      &.play span {
        padding: 0.5rem;
        border-radius: 50%;
        background-color: white;
        display: flex;

        &:hover {
          -webkit-box-shadow: 0px 0px 26px 0px var(--brand-color);
          -moz-box-shadow: 0px 0px 26px 0px var(--brand-color);
          box-shadow: 0px 0px 26px 0px var(--brand-color);
        }
      }

      & img {
        width: 1.5rem;
        height: auto;
      }


      &:hover {
        scale: 1.1;
      }
    }
  }


  &>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
  }


  &>div:nth-child(2),
  & .mobile-only {
    width: 100%;

    & .mobile-only {
      width: 100%;
    }

    & .content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    & img {
      width: 70%;
      object-fit: cover;
    }


    & img[src*="vanessa"] {
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 26px 0px var(--brand-color);
      -moz-box-shadow: 0px 0px 26px 0px var(--brand-color);
      box-shadow: 0px 0px 26px 0px var(--brand-color);
      z-index: 1;
    }

  }
}

/* Base: mobile (até 480px) */

/* Tablets */
@media (min-width: 768px) {}

/* Laptops */
@media (min-width: 1024px) {
  section.hero {
    --header-height: 5rem;
    height: calc(100vh - var(--header-height, 5rem));
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    text-align: left;

    & p {
      font: 500 var(--text-base)/1.5 var(--ff-base);
    }


    & h1 {
      margin-top: 2rem;
      max-width: 40rem;
    }

    & h1 div {
      display: inline-block;
      overflow: hidden;
      height: 5rem;
      width: min-content;
      vertical-align: bottom;
    }

    &>div:nth-child(1) {
      align-items: flex-start;
      gap: unset;
    }

    &>div:nth-child(2) {
      display: block;
      width: 100%;
      max-width: 30.5rem;
      height: 30.5rem;

      & img {
        width: 100%;
      }
    }

    & .buttons {
      gap: 2rem;
      margin-top: 3rem;

      & .button {
        align-items: center;
        gap: .75rem;

        border-radius: 5rem;

        &.whats {
          padding: 1.5rem 3rem;
        }

        &.play span {
          padding: 1.5rem;
        }

        & img {
          width: 2rem;
        }

      }
    }
  }
}




@keyframes appear {
  to {
    opacity: 1;
  }
}


@keyframes slideUp {


  0%,
  22% {
    transform: translateY(0);
  }


  23% {
    transform: translateY(calc(-5rem - 15px));
  }

  25% {
    transform: translateY(calc(-5rem + 10px));
  }

  27% {
    transform: translateY(calc(-5rem - 5px));
  }

  29% {
    transform: translateY(calc(-5rem- 5px));
  }



  33%,
  55% {
    transform: translateY(-5rem);
  }


  56% {
    transform: translateY(calc(-10rem - 15px));
  }

  58% {
    transform: translateY(calc(-10rem + 10px));
  }

  60% {
    transform: translateY(calc(-10rem - 5px));
  }

  62% {
    transform: translateY(calc(-10rem + 5px));
  }


  66%,
  88% {
    transform: translateY(-10rem);
  }


  89% {
    transform: translateY(calc(-15rem - 15px));
  }

  91% {
    transform: translateY(calc(-15rem + 10px));
  }

  93% {
    transform: translateY(calc(-15rem - 5px));
  }

  95% {
    transform: translateY(calc(-15rem + 5px));
  }


  100% {
    transform: translateY(-15rem);
  }
}